@media(max-width:1024px){
    .container{
        padding: 0 15px;
    }
}
@media(max-width: 768px){
    .container{
        padding: 0 15px;
    }
    /* ================ header section start here ================= */
    .nav_list_container{
        display: none;
    }
    /* ================ header section ends here ================= */
}









/* ================ small device responsive start here ================= */
@media (min-width: 320px) and (max-width: 480px){
    .container{
        padding: 0 19.58px;
    }
    .common_btn {
        padding: 6px 12px;
        font-size: 10px;
    }


    /* ================ header section start here ================= */
    #nav_section{
        padding: 10px 0;
    }
    .nav_logo{
        font-size: 33px;
    }
    .nav_list_container{
        display: none;
    }
    .nav_btn_container{
        gap: 14.41px;
    }
    .desktop_hamburger_btn{
        display: none;
    }
    .mobile_hamburger_btn{
        display: block;
        height: 24px;
        width: 24px;
        border-radius: 100%;
        background-color: #fff;
    }
    .header_message{
        font-size: 8px;
    }
    /* ================ header section end here ================= */


/* ================ footer section start here ================= */
    .footer_top_layer{
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 32px;
    }
    .footer_top_right_heading{
        text-align: start;
    }
    .footer_top_list_container{
        flex-direction: column;
        gap: 16px;
        margin-bottom: 32px;
    }
    .footer_bottom_layer{
        flex-direction: column;
        text-align: center;
        gap: 32px;
    }
/* ================ footer section ends here ================= */
}