@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }

    /* ================ choose us section start here ================= */
    #choose_us_section {
        padding: 80px 0 80px;
    }

    .choose_content_heading {
        font-size: 40px;
        line-height: 52px;
    }

    .choose_image {
        height: 350px;
        width: 350px;
    }

    .newsletter_border_style_div,
    .border_style_div {
        height: 350px;
        width: 350px;
    }

    .choose_content_heading {
        font-size: 28px;
        line-height: 36px;
    }

    /* ================ choose us section end here ================= */
    .card_wrapper {
        margin: 0;
    }

    /* ================ daily offer section starts here ================= */

    .daily_offer_right {
        width: 400px;
    }

    .daily_card_heading {
        margin-bottom: 7px;
    }

    .daily_offer_card_img {
        height: 120px;
        width: 120px;
    }

    .daily_card_title,
    .daily_card_price {
        font-size: 20px;
    }

    .daily_card_desc {
        font-size: 16px;
        line-height: 20px;
        padding: 0;
    }

    /* ================ daily offer section end here ================= */

    /* ================ contact section starts here ================= */
    #contact_section {
        padding-top: 70px;
    }

    .contact_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    /* ================ contact section ends here ================= */
    /* ================ newsletter section starts here ================= */
    .newsletter_content_heading {
        font-size: 33px;
    }


    /* ================ checkout page newsletter starts here ================= */
    /*==================== checkout page starts here ================= */
    #common_newsletter_section .newsletter_container {
        flex-direction: column;
    }

    /*==================== blog page starts here ================= */
    #blog_choose_us_section {
        padding: 30px 0;
    }

    #blog_choose_us_section .vision_image {
        max-width: 500px;
        width: 100%;
        height: 414px;
    }

}



@media(max-width: 769px) {
    .container {
        padding: 0 15px;
    }

    /* ================ header section start here ================= */
    .nav_list_container {
        display: none;
    }

    /* ================ header section ends here ================= */
    /* ================ banner section starts here ================= */
    #banner_section,
    #online_reservation_page {
        height: auto;
        padding: 40px 0px;
    }

    .banner_content_heading {
        font-size: 40px;
    }

    /* ================ header section ends here ================= */
    /* ================ choose us section start here ================= */
    #choose_us_section {
        padding: 80px 0;
    }

    .choose_content_heading {
        font-size: 38px;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .choose_container,
    .newsletter_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    /* ================ choose section ends here ================= */
    .card_wrapper {
        margin: 0;
    }

    /* ================ daily offer section start here ================= */
    .daily_offer_body,
    .blog_choose_container,
    .blog_vision_container {
        flex-direction: column;
    }

    .daily_offer_left_img {
        width: 250%;
        height: 606px;
        /* object-fit: cover;
        object-position: left; */
    }

    .daily_offer_container {
        height: auto;
    }

    .daily_offer_left_content {
        bottom: -528px;
        left: 48px;
    }

    .daily_offer_right {
        flex-direction: column;
        gap: 32px;
        margin-top: 615px;
    }

    /* ================ daily offer section ends here ================= */
    /* ================ contact section starts here ================= */
    #contact_section {
        padding-top: 70px;
    }

    .contact_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    /* ================ contact section ends here ================= */

    /*==================== checkout page starts here ================= */
    .checkout_menu_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    #common_newsletter_section>.newsletter_container {
        flex-direction: column;
    }

    /*==================== blog page starts here ================= */
    #blog_choose_us_section {
        padding: 0;
    }

    #blog_choose_us_section .choose_content_heading {
        font-size: 25px;
        line-height: 32px;
    }

    #blog_choose_us_section .checkout_header {
        gap: 15px;
    }

    #blog_choose_us_section .checkout_heading {
        font-size: 45px;
    }

    #blog_choose_us_section .checkout_desc {
        font-size: 14px;
        padding: 0 62px;
    }

    #blog_choose_us_section .choose_us_right,
    .blog_vision_right {
        max-width: 550px;
        width: 100%;
    }

    .blog_choose_container,
    .blog_vision_container {
        gap: 10px;
        margin: 30px auto;
    }

    .blog_vision_right {
        margin: 0 auto 30px;
    }

    .blog_vision_right .daily_card_desc {
        padding-right: 0;
    }

    #blog_choose_us_section .vision_image {
        max-width: 500px;
        width: 100%;
        height: 414px;
    }

    .contact_info_container {
        flex-direction: column;
    }
}









/* ================ small device responsive start here ================= */
@media (min-width: 320px) and (max-width: 480px) {
    .container {
        padding: 0 19.58px;
    }

    .common_btn {
        padding: 6px 12px;
        font-size: 10px;
    }

    #common_newsletter_section {
        padding: 40px 0;
    }

    /* ================ header section start here ================= */
    #nav_section {
        padding: 10px 0;
    }

    .nav_logo {
        font-size: 33px;
    }

    .nav_list_container {
        display: none;
    }

    .nav_btn_container {
        gap: 14.41px;
    }

    .desktop_hamburger_btn {
        display: none;
    }

    .mobile_hamburger_btn {
        display: block;
        height: 24px;
        width: 24px;
        border-radius: 100%;
        background-color: #fff;
    }

    .header_message {
        font-size: 8px;
    }

    /* ================ header section end here ================= */
    /* ================ choose section start here ================= */
    #choose_us_section {
        padding: 0px 0 50px;
    }

    .choose_container {
        flex-direction: column;
        gap: 30px;
    }

    .choose_us_left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .choose_image {
        height: 438px;
        max-width: 343px;
        width: 100%;
        object-fit: cover;
        /* position: absolute; */
        border-radius: 8px;
    }

    .choose_content_heading {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .choose_content_desc {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 15px;
        padding-right: 0%;

    }

    .border_style_div,
    .newsletter_border_style_div {
        display: none;
    }

    /* ================ choose section end here ================= */
    /* ================ banner section start here ================= */
    #banner_section {
        height: auto;
    }

    #banner_section::after {
        background: none;
    }

    .banner_content_top {
        display: none;
    }

    .banner_content_heading {
        font-size: 32px;
        line-height: 42px;
        color: black;
    }

    .banner_content_desc {
        font-size: 11px;
        line-height: 13px;
        color: black;
        margin-bottom: 22px;
    }

    .banner_see_btn {
        font-size: 15px;
        padding: 11px 26px;
    }

    .search_btn {
        font-size: 15px;
        padding: 9px 26px;
        background-color: #ebe9e9;
    }

    .banner_content_right {
        display: none;
    }

    /* ================ banner section end here ================= */

    /* ================ daily offer section start here ================= */
    #daily_offer_section {
        padding: 40px 0;
    }

    .daily_offer_body {
        flex-direction: column;
    }

    .daily_offer_header {
        margin-bottom: 32px;
        align-items: start;
        text-align: left;
    }

    .daily_card_heading {
        margin-bottom: 10px;
    }

    .offer_header_title {
        font-size: 20px;
        line-height: 26px;
    }

    .offer_header_desc {
        display: none;
    }

    .daily_offer_left_img {
        width: 250%;
        height: 435px;
        object-fit: cover;
    }

    .daily_offer_left_content {
        bottom: -395px;
        left: 30px;
        width: 255px;
    }

    .daily_offer_right {
        margin-top: 436px;
    }

    .daily_offer_card_img {
        height: 92px;
        width: 83.8px;
    }

    .daily_card_title,
    .daily_card_price {
        font-size: 16px;
        line-height: 25px;
    }

    .daily_card_desc {
        font-size: 12px;
        line-height: 14.58px;
        padding-right: 0;
    }

    /* ================ daily offer section end here ================= */

    /* ================ checkout section start here ================= */
    #checkout_section {
        padding: 34px 0;
    }

    .checkout_heading,
    .reserve_heading {
        font-size: 32px;
    }

    .checkout_desc {
        display: none;
    }

    .checkout_body {
        margin-top: 17.12px;
    }

    .checkout_tab_container {
        gap: 9.69px;
    }

    .checkout_tab {
        padding: 6.69px 10.54px;
        font-size: 9.69px;
    }

    .card_wrapper {
        margin: 0;
        padding: 0;
    }

    .checkout_card_title {
        font-size: 13.69px;
    }

    .checkout_card_desc {
        font-size: 10.27px;
    }

    .card_body_bottom_link {
        font-size: 11px;

    }

    .card_body_bottom_price,
    #blog_choose_us_section .daily_card_title {

        font-size: 17.12px;
    }

    /* ================ checkout section end here ================= */


    /* ================ online reservation section start here ================= */
    #online_reservation {
        padding: 40px 0 40px;
        height: auto;
    }

    .reserve_header {
        margin-bottom: 20.25px;
    }

    .reserve_desc {
        display: none;
    }

    .reservation_form {
        grid-template-columns: 1fr;
        gap: 14px;
    }

    #form_submit_btn {
        padding: 14px 34px;
    }

    /* ================ online reservation section end here ================= */

    /* ================ contact section starts here ================= */
    #contact_section {
        padding-top: 40px;
    }

    .contact_container {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .contact-heading {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .home_contact-location> :nth-child(2) {
        text-align: left;
        font-weight: normal;
        width: auto;
        font-size: 16px;
    }

    /* ================ contact section ends here ================= */

    /* ================ map section starts here ================= */
    .location_image {
        height: 490px;
        object-position: right;
    }

    /* ================ map section ends here ================= */


    /* ================ newsletter section starts here ================= */
    #newsletter_section {
        padding: 40px 0;
    }

    .newsletter_container,
    .blog_choose_container,
    .blog_vision_container {
        flex-direction: column;
    }

    .newsletter_content_heading {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 14px;
    }

    .newsletter_desc {
        font-size: 8.35px;
        padding-right: 10%;
        margin-bottom: 18px;
    }

    .newsletter_input {
        font-size: 13px;
        padding: 3px 16px;
    }

    .newsletter_image {
        height: 236.7px;
        object-fit: cover;
    }

    /* ================ newsletter section ends here ================= */

    /* ================ footer section start here ================= */
    .footer_top_layer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 32px;
    }

    .footer_top_right_heading {
        text-align: start;
    }

    .footer_top_list_container {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 32px;
    }

    .footer_bottom_layer {
        flex-direction: column;
        text-align: center;
        gap: 32px;
    }

    /* ================ footer section ends here ================= */


    /* ================ checkout page starts here ================= */
    .checkout_menu_container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    /* ================ blog page starts here ================= */
    #blog_choose_us_section {
        padding: 15px 0;
    }

    #blog_choose_us_section .vision_image {
        height: 438px;
        max-width: 343px;
        width: 100%;
    }

    .blog_choose_container {
        gap: 20px;
    }

    .blog_vision_container {
        gap: 20px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .blog_content_heading {
        font-size: 20px;
        line-height: 25px;
    }

    #blog_choose_us_section .daily_offer_right {
        margin-top: 20px;
    }

    #blog_choose_us_section .checkout_heading,
    .reserve_heading {
        font-size: 28px;
    }

    .blog_card_img {
        height: 25px;
        width: 25px;
    }

    .blog_card_img_container {
        height: 50px;
        width: 100px;
    }

    .blog_vision_right {
        margin-top: 0;
    }
}